<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <title>Webhoppr</title>
  </head>
  <body>
    <div class="container mt-5">
      <h1 class="text-center">Webhoppr</h1>
      {% for entry in entries %}
      <div class="card my-5">
        <div class="card-header">{{ entry.title }}</div>
        <div class="card-body">{{ entry.content }}</div>
      </div>
      {% endfor %}
    </div>
  </body>
</html>
